Source: eraomnix
Section: net
Priority: extra
Maintainer: Jakub Wilk <jwilk@jwilk.net>
Build-Depends: debhelper (>= 7), perl
Standards-Version: 3.8.0
Bugs: mailto:jwilk@jwilk.net

Package: eraomnix
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, kawute (>= 0.8), libcrypt-ssleay-perl
Description: Send SMs and MMs via Era Omnix gateway
 eraomnix allows you to send SMs and MMs via the web-to-SMS gateway at
 <http://eraomnix.pl/>.
