Source: eraomnix
Section: net
Priority: extra
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Build-Depends: debhelper (>= 5), perl, sed
Standards-Version: 3.8.0
Bugs: mailto:ubanus@users.sf.net

Package: eraomnix
Architecture: all
Depends: kawute (>= 0.8), libcrypt-ssleay-perl
Description: Send SMs and MMs via Era Omnix gateway
 eraomnix allows you to send SMs and MMs via the web-to-SMS gateway at
 <http://eraomnix.pl/>.
