#!/usr/bin/make -f

.PHONY: build
build: eraomnix.1 ;

eraomnix.1: eraomnix
	dh_testdir
	pod2man -c 'eraomnix manual' $(<) > $(@)

.PHONY: clean
clean:
	dh $(@)
	dh_clean $(wildcard *.1)

.PHONY: install
install: build
	dh $(@) --until dh_prep
	dh_install eraomnix usr/bin
	sed -i -e 's/kawute/Net::kawute/g' debian/eraomnix/usr/bin/*
	dh_installman --language=C $(wildcard *.1)
	dh_installexamples $(wildcard *.conf)
	dh $(@) --remaining

.PHONY: binary-indep
binary-indep: install
	dh $(@)

.PHONY: binary-arch
binary-arch: install ;

.PHONY: binary
binary: binary-indep binary-arch ;

# vim:ts=4 sw=4 noet
